@charset "UTF-8";
@import "compass";
@import "mixin/*";

html{
	height: 100%;
	width: 100%;
	position: relative;
	body{
		height: 100%;
		width: 100%;
		position: relative;
		@include perspective(800px);
		@include transform-style(preserve-3d);
		overflow: hidden;
		z-index: 1;
		&.air{
			background: #0e3e7c url('../images/bg.png') 50% 100% repeat-x;
			}
		&.space{
			background: #0e3e7c url('../images/bg-space.jpg') 50% 50% repeat;
			}
		&>.wrapper{
			position: fixed;
			left: 50%;
			top: 50%;
			display: block;
			width: 0;
			height: 0;
			@include transform-style(preserve-3d);
			// @include transform(
			// 	rotateY(-270deg)
			// 	);
			@include animate(arotateY 5s infinite linear);
			}
		}
	}