<!doctype html>
%html{:lang => "ru-RU"} 
	%head 
		%meta{:charset => "UTF-8"}/
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge, chrome=1"}/ 
		%title Бомба
		%link{:rel => "stylesheet", :href => "css/common.css"}/ 
	%body.air
		.wrapper
			.bomb-model
				.bomb-side-1
					.bomb-front
				.bomb-side-2
					.bomb-front
				.bomb-side-3
					.bomb-front
				.bomb-side-4
					.bomb-front
				.bomb-side-back
				.bomb-tail-1
				.bomb-tail-2
				.bomb-tail-3
				.bomb-tail-4
				.bomb-wing-top-left
				.bomb-wing-top-right
				.bomb-wing-bottom-left
				.bomb-wing-bottom-right
				.bomb-wing-left-top
				.bomb-wing-left-bottom
				.bomb-wing-right-top
				.bomb-wing-right-bottom
				.bomb-fire-hole
				.fire-wrapper-1
					.bomb-fire-1
				.fire-wrapper-2
					.bomb-fire-2
				.fire-wrapper-3
					.bomb-fire-3
				.bomb-eye-left
				.bomb-eye-right