- # encoding: UTF-8
<!doctype html>
%html{:lang => "ru-RU"} 
	%head 
		%meta{:charset => "UTF-8"}/
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge, chrome=1"}/ 
		%title Рука
		%link{:rel => "stylesheet", :href => "css/common.css"}/ 
		%script{:src => "http://localhost:35729/livereload.js"}
	%body 
		.wrapper
			.fist-model
				.fog
					.side-1
					.side-2
					.side-3
					.side-4
				.palm
					.side-1
					.side-2
					.side-3
					.side-4
					.side-5
					.side-6
					.finger.thumb
						.side-1
						.side-2
						.side-3
						.side-4
						.side-5
						.side-6
						.phalanx
							.side-1
							.side-2
							.side-3
							.side-4
							.side-5
							.side-6
					.finger.right
						.side-1
						.side-2
						.side-3
						.side-4
						.side-5
						.side-6
						.phalanx
							.side-1
							.side-2
							.side-3
							.side-4
							.side-5
							.side-6
					.finger.left
						.side-1
						.side-2
						.side-3
						.side-4
						.side-5
						.side-6
						.phalanx
							.side-1
							.side-2
							.side-3
							.side-4
							.side-5
							.side-6
				.wrist
					.side-1
					.side-2
					.side-3
					.side-4
					.side-5
				.cuff
					.side-1
					.side-2
					.side-3
					.side-4
				.cuff.lower
					.side-1
					.side-2
					.side-3
					.side-4

