- # encoding: UTF-8
<!doctype html>
%html{:lang => "ru-RU"} 
	%head 
		%meta{:charset => "UTF-8"}/
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge, chrome=1"}/ 
		%title Летательный аппарат
		%link{:rel => "stylesheet", :href => "css/common.css"}/ 
		%script{:src => "http://localhost:35729/livereload.js"}
	%body.air
		.wrapper
			.plane-model
				.cabin-long
					.cabin-side-1
					.cabin-side-2
					.cabin-side-3
					.cabin-side-4
					.cabin-side-5
					.cabin-side-6
					.cabin-eye-1
					.cabin-eye-2
					.cabin-eye-3
					.cabin-eye-4
					.gun
						.gun-side-1
						.gun-side-2
						.gun-side-3
						.gun-side-4
						.gun-side-back
						.gun-side-front
						.gun-tail-1
						.gun-tail-2
						.gun-tail-3
						.gun-tail-4
						.gun-fire-hole
				.cabin
					.cabin-side-1
					.cabin-side-2
					.cabin-side-3
					.cabin-side-4
					.cabin-side-5
					.cabin-side-6
				.connector.left
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.connector.right
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.connector.bottom
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.wing.left
					.side-1
					.side-2
					.side-3
					.side-4
					.side-5
					.side-6
					.plate-1
					.plate-2
					.airscrew
				.wing.right
					.side-1
					.side-2
					.side-3
					.side-4
					.side-5
					.side-6
					.plate-1
					.plate-2
					.airscrew

			.plane-model.n2
				.cabin-long
					.cabin-side-1
					.cabin-side-2
					.cabin-side-3
					.cabin-side-4
					.cabin-side-5
					.cabin-side-6
					.cabin-eye-1
					.cabin-eye-2
					.cabin-eye-3
					.cabin-eye-4
					.gun
						.gun-side-1
						.gun-side-2
						.gun-side-3
						.gun-side-4
						.gun-side-back
						.gun-side-front
						.gun-tail-1
						.gun-tail-2
						.gun-tail-3
						.gun-tail-4
						.gun-fire-hole
				.cabin
					.cabin-side-1
					.cabin-side-2
					.cabin-side-3
					.cabin-side-4
					.cabin-side-5
					.cabin-side-6
				.connector.left
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.connector.right
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.connector.bottom
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.wing.left
					.side-1
					.side-2
					.side-3
					.side-4
					.side-5
					.side-6
					.plate-1
					.plate-2
					.airscrew
				.wing.right
					.side-1
					.side-2
					.side-3
					.side-4
					.side-5
					.side-6
					.plate-1
					.plate-2
					.airscrew

			.plane-model.n3
				.cabin-long
					.cabin-side-1
					.cabin-side-2
					.cabin-side-3
					.cabin-side-4
					.cabin-side-5
					.cabin-side-6
					.cabin-eye-1
					.cabin-eye-2
					.cabin-eye-3
					.cabin-eye-4
					.gun
						.gun-side-1
						.gun-side-2
						.gun-side-3
						.gun-side-4
						.gun-side-back
						.gun-side-front
						.gun-tail-1
						.gun-tail-2
						.gun-tail-3
						.gun-tail-4
						.gun-fire-hole
				.cabin
					.cabin-side-1
					.cabin-side-2
					.cabin-side-3
					.cabin-side-4
					.cabin-side-5
					.cabin-side-6
				.connector.left
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.connector.right
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.connector.bottom
					.connector-side-1
					.connector-side-2
					.connector-side-3
					.connector-side-4
					.connector-side-5
					.connector-side-6
				.wing.left
					.side-1
					.side-2
					.side-3
					.side-4
					.side-5
					.side-6
					.plate-1
					.plate-2
					.airscrew
				.wing.right
					.side-1
					.side-2
					.side-3
					.side-4
					.side-5
					.side-6
					.plate-1
					.plate-2
					.airscrew
