<!doctype html>
%html{:lang => "ru-RU"} 
	%head 
		%meta{:charset => "UTF-8"}/
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge, chrome=1"}/ 
		%title Спутник
		%link{:rel => "stylesheet", :href => "css/common.css"}/ 
	%body.air
		.wrapper
			.satellite-model
				.satellite-side-1
				.satellite-side-2
				.satellite-side-3
				.satellite-side-4
				.satellite-side-5
				.satellite-side-6
				.satellite-eye-1
				.satellite-eye-2
				.satellite-eye-3
				.satellite-eye-4
				.satellite-eye-5
				.satellite-eye-6
				.satellite-eye-7
				.satellite-eye-8
				.satellite-eye-9
				.satellite-eye-10
				.satellite-eye-11
				.satellite-eye-12
				.satellite-wing
					.satellite-wing-inner