@-webkit-keyframes force {
  /* line 4, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-moz-keyframes force {
  /* line 10, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-ms-keyframes force {
  /* line 16, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@keyframes force {
  /* line 22, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-webkit-keyframes airscrew {
  /* line 28, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 35, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-moz-keyframes airscrew {
  /* line 45, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 52, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-ms-keyframes airscrew {
  /* line 62, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 69, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@keyframes airscrew {
  /* line 79, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 86, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-webkit-keyframes BGposX {
  /* line 97, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  from {
    background-position: 50% 50%, 0 200px;
  }

  /* line 102, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  to {
    background-position: 50% 50%, 0 0;
  }
}

@-webkit-keyframes BGpos {
  /* line 110, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  from {
    background-position: 0 0, 50% 50%, 0 200px;
  }

  /* line 116, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  to {
    background-position: 0 0, 50% 50%, 0 0;
  }
}

@-webkit-keyframes FistBGColorX {
  /* line 126, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 129, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 132, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 135, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-moz-keyframes FistBGColorX {
  /* line 141, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 144, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 147, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 150, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-ms-keyframes FistBGColorX {
  /* line 156, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 159, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 162, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 165, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@keyframes FistBGColorX {
  /* line 171, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 174, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 177, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 180, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-webkit-keyframes FireColor {
  /* line 187, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-moz-keyframes FireColor {
  /* line 193, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-ms-keyframes FireColor {
  /* line 199, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@keyframes FireColor {
  /* line 205, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-webkit-keyframes fire {
  /* line 211, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 215, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 218, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-moz-keyframes fire {
  /* line 225, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 229, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 232, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-ms-keyframes fire {
  /* line 239, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 243, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 246, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@keyframes fire {
  /* line 253, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 257, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 260, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-webkit-keyframes explodeSprite {
  /* line 267, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-moz-keyframes explodeSprite {
  /* line 273, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-ms-keyframes explodeSprite {
  /* line 279, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@keyframes explodeSprite {
  /* line 285, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-webkit-keyframes arotateX {
  /* line 291, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-moz-keyframes arotateX {
  /* line 297, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-ms-keyframes arotateX {
  /* line 303, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@keyframes arotateX {
  /* line 309, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-webkit-keyframes arotateY {
  /* line 315, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes arotateY {
  /* line 321, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes arotateY {
  /* line 327, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes arotateY {
  /* line 333, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes arotateZ {
  /* line 339, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes arotateZ {
  /* line 345, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-ms-keyframes arotateZ {
  /* line 351, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes arotateZ {
  /* line 357, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/* line 74, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -moz-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -ms-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -o-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  width: 0px;
  height: 0px;
  z-index: 1;
}
/* line 93, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model * {
  z-index: 1;
}
/* line 97, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model.n3 {
  -webkit-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(-120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -moz-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(-120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -ms-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(-120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -o-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(-120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(-120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  display: none;
}
/* line 111, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model.n2 {
  -webkit-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -moz-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -ms-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  -o-transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  transform: rotateX(110deg) rotateZ(180deg) rotateY(0deg) translateX(120px) translateZ(120px) scaleX(0.45) scaleY(0.45) scaleZ(0.45);
  display: none;
}
/* line 125, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 130, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector.right {
  -webkit-transform: translateX(55.1px) translateZ(-40px) translateY(75px);
  -moz-transform: translateX(55.1px) translateZ(-40px) translateY(75px);
  -ms-transform: translateX(55.1px) translateZ(-40px) translateY(75px);
  -o-transform: translateX(55.1px) translateZ(-40px) translateY(75px);
  transform: translateX(55.1px) translateZ(-40px) translateY(75px);
}
/* line 137, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector.left {
  -webkit-transform: translateX(-35.1px) translateZ(-40px) translateY(75px);
  -moz-transform: translateX(-35.1px) translateZ(-40px) translateY(75px);
  -ms-transform: translateX(-35.1px) translateZ(-40px) translateY(75px);
  -o-transform: translateX(-35.1px) translateZ(-40px) translateY(75px);
  transform: translateX(-35.1px) translateZ(-40px) translateY(75px);
}
/* line 144, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector.bottom {
  -webkit-transform: translateZ(-85px) translateX(10px) translateY(73px);
  -moz-transform: translateZ(-85px) translateX(10px) translateY(73px);
  -ms-transform: translateZ(-85px) translateX(10px) translateY(73px);
  -o-transform: translateZ(-85px) translateX(10px) translateY(73px);
  transform: translateZ(-85px) translateX(10px) translateY(73px);
}
/* line 151, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector .connector-side-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 25px;
  -moz-background-size: 25px;
  -o-background-size: 25px;
  background-size: 25px;
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
  -webkit-transform: rotateX(-90deg) translateZ(10px);
  -moz-transform: rotateX(-90deg) translateZ(10px);
  -ms-transform: rotateX(-90deg) translateZ(10px);
  -o-transform: rotateX(-90deg) translateZ(10px);
  transform: rotateX(-90deg) translateZ(10px);
}
/* line 158, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector .connector-side-2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 25px;
  -moz-background-size: 25px;
  -o-background-size: 25px;
  background-size: 25px;
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
  -webkit-transform: rotateX(-90deg) translateZ(-10px);
  -moz-transform: rotateX(-90deg) translateZ(-10px);
  -ms-transform: rotateX(-90deg) translateZ(-10px);
  -o-transform: rotateX(-90deg) translateZ(-10px);
  transform: rotateX(-90deg) translateZ(-10px);
}
/* line 165, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector .connector-side-3 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 25px;
  -moz-background-size: 25px;
  -o-background-size: 25px;
  background-size: 25px;
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
  -webkit-transform: rotateX(-90deg) rotateY(-90deg) translateZ(-10px);
  -moz-transform: rotateX(-90deg) rotateY(-90deg) translateZ(-10px);
  -ms-transform: rotateX(-90deg) rotateY(-90deg) translateZ(-10px);
  -o-transform: rotateX(-90deg) rotateY(-90deg) translateZ(-10px);
  transform: rotateX(-90deg) rotateY(-90deg) translateZ(-10px);
}
/* line 173, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector .connector-side-4 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 25px;
  -moz-background-size: 25px;
  -o-background-size: 25px;
  background-size: 25px;
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
  -webkit-transform: rotateX(-90deg) rotateY(-90deg) translateZ(10px);
  -moz-transform: rotateX(-90deg) rotateY(-90deg) translateZ(10px);
  -ms-transform: rotateX(-90deg) rotateY(-90deg) translateZ(10px);
  -o-transform: rotateX(-90deg) rotateY(-90deg) translateZ(10px);
  transform: rotateX(-90deg) rotateY(-90deg) translateZ(10px);
}
/* line 181, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector .connector-side-5 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 25px;
  -moz-background-size: 25px;
  -o-background-size: 25px;
  background-size: 25px;
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
  -webkit-transform: rotateZ(-90deg) translateZ(-10px);
  -moz-transform: rotateZ(-90deg) translateZ(-10px);
  -ms-transform: rotateZ(-90deg) translateZ(-10px);
  -o-transform: rotateZ(-90deg) translateZ(-10px);
  transform: rotateZ(-90deg) translateZ(-10px);
}
/* line 188, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .connector .connector-side-6 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 25px;
  -moz-background-size: 25px;
  -o-background-size: 25px;
  background-size: 25px;
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
  -webkit-transform: rotateZ(-90deg) translateZ(10px);
  -moz-transform: rotateZ(-90deg) translateZ(10px);
  -ms-transform: rotateZ(-90deg) translateZ(10px);
  -o-transform: rotateZ(-90deg) translateZ(10px);
  transform: rotateZ(-90deg) translateZ(10px);
}
/* line 197, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(50px) translateZ(-40px);
  -moz-transform: translateY(50px) translateZ(-40px);
  -ms-transform: translateY(50px) translateZ(-40px);
  -o-transform: translateY(50px) translateZ(-40px);
  transform: translateY(50px) translateZ(-40px);
}
/* line 209, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: scaleX(0.3) scaleY(0.3) scaleZ(0.3) translateZ(-158px) translateY(-140px);
  -moz-transform: scaleX(0.3) scaleY(0.3) scaleZ(0.3) translateZ(-158px) translateY(-140px);
  -ms-transform: scaleX(0.3) scaleY(0.3) scaleZ(0.3) translateZ(-158px) translateY(-140px);
  -o-transform: scaleX(0.3) scaleY(0.3) scaleZ(0.3) translateZ(-158px) translateY(-140px);
  transform: scaleX(0.3) scaleY(0.3) scaleZ(0.3) translateZ(-158px) translateY(-140px);
}
/* line 222, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-front {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  height: 0;
  font-size: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 100%;
  border-style: solid;
  border-width: 50px 25px 25px 25px;
  border-color: #e00 transparent transparent transparent;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform-origin: 50px 0;
  -moz-transform-origin: 50px 0;
  -ms-transform-origin: 50px 0;
  -o-transform-origin: 50px 0;
  transform-origin: 50px 0;
  -webkit-transform: rotateX(-30deg);
  -moz-transform: rotateX(-30deg);
  -ms-transform: rotateX(-30deg);
  -o-transform: rotateX(-30deg);
  transform: rotateX(-30deg);
}
/* line 243, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-side-1 {
  width: 50px;
  height: 200px;
  position: absolute;
  left: -25px;
  top: -50px;
  display: block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background: url("../images/plate.png") repeat;
  -webkit-background-size: 256px 256px;
  -moz-background-size: 256px 256px;
  -o-background-size: 256px 256px;
  background-size: 256px 256px;
  z-index: 2;
  -webkit-transform: translateZ(-25px) rotateY(180deg);
  -moz-transform: translateZ(-25px) rotateY(180deg);
  -ms-transform: translateZ(-25px) rotateY(180deg);
  -o-transform: translateZ(-25px) rotateY(180deg);
  transform: translateZ(-25px) rotateY(180deg);
}
/* line 252, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-side-2 {
  width: 50px;
  height: 200px;
  position: absolute;
  left: -25px;
  top: -50px;
  display: block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background: url("../images/plate.png") repeat;
  -webkit-background-size: 256px 256px;
  -moz-background-size: 256px 256px;
  -o-background-size: 256px 256px;
  background-size: 256px 256px;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
}
/* line 260, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-side-3 {
  width: 50px;
  height: 200px;
  position: absolute;
  left: -25px;
  top: -50px;
  display: block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background: url("../images/plate.png") repeat;
  -webkit-background-size: 256px 256px;
  -moz-background-size: 256px 256px;
  -o-background-size: 256px 256px;
  background-size: 256px 256px;
  -webkit-transform: rotateY(90deg) translateZ(25px);
  -moz-transform: rotateY(90deg) translateZ(25px);
  -ms-transform: rotateY(90deg) translateZ(25px);
  -o-transform: rotateY(90deg) translateZ(25px);
  transform: rotateY(90deg) translateZ(25px);
}
/* line 268, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-side-4 {
  width: 50px;
  height: 200px;
  position: absolute;
  left: -25px;
  top: -50px;
  display: block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background: url("../images/plate.png") repeat;
  -webkit-background-size: 256px 256px;
  -moz-background-size: 256px 256px;
  -o-background-size: 256px 256px;
  background-size: 256px 256px;
  -webkit-transform: rotateY(-90deg) translateZ(25px);
  -moz-transform: rotateY(-90deg) translateZ(25px);
  -ms-transform: rotateY(-90deg) translateZ(25px);
  -o-transform: rotateY(-90deg) translateZ(25px);
  transform: rotateY(-90deg) translateZ(25px);
}
/* line 276, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-tail-1 {
  width: 24px;
  height: 100px;
  position: absolute;
  left: -12px;
  top: 0;
  display: block;
  background: url("../images/plate.png") repeat;
  box-shadow: inset 0 -24px 0 0 rgba(0, 0, 0, 0.5), inset 0 20px 0 0 #333333, inset 0 40px 0 0 red;
  -webkit-transform: rotateY(180deg) translateZ(12px) translateY(-150px);
  -moz-transform: rotateY(180deg) translateZ(12px) translateY(-150px);
  -ms-transform: rotateY(180deg) translateZ(12px) translateY(-150px);
  -o-transform: rotateY(180deg) translateZ(12px) translateY(-150px);
  transform: rotateY(180deg) translateZ(12px) translateY(-150px);
}
/* line 289, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-tail-2 {
  width: 24px;
  height: 100px;
  position: absolute;
  left: -12px;
  top: 0;
  display: block;
  background: url("../images/plate.png") repeat;
  box-shadow: inset 0 -24px 0 0 rgba(0, 0, 0, 0.5), inset 0 20px 0 0 #333333, inset 0 40px 0 0 red;
  -webkit-transform: translateZ(12px) translateY(-150px);
  -moz-transform: translateZ(12px) translateY(-150px);
  -ms-transform: translateZ(12px) translateY(-150px);
  -o-transform: translateZ(12px) translateY(-150px);
  transform: translateZ(12px) translateY(-150px);
}
/* line 302, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-tail-3 {
  width: 24px;
  height: 100px;
  position: absolute;
  left: -12px;
  top: 0;
  display: block;
  background: url("../images/plate.png") repeat;
  box-shadow: inset 0 -24px 0 0 rgba(0, 0, 0, 0.5), inset 0 20px 0 0 #333333, inset 0 40px 0 0 red;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotateY(90deg) translateZ(12px) translateY(-150px);
  -moz-transform: rotateY(90deg) translateZ(12px) translateY(-150px);
  -ms-transform: rotateY(90deg) translateZ(12px) translateY(-150px);
  -o-transform: rotateY(90deg) translateZ(12px) translateY(-150px);
  transform: rotateY(90deg) translateZ(12px) translateY(-150px);
}
/* line 316, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-tail-4 {
  width: 24px;
  height: 100px;
  position: absolute;
  left: -12px;
  top: 0;
  display: block;
  background: url("../images/plate.png") repeat;
  box-shadow: inset 0 -24px 0 0 rgba(0, 0, 0, 0.5), inset 0 20px 0 0 #333333, inset 0 40px 0 0 red;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotateY(-90deg) translateZ(12px) translateY(-150px);
  -moz-transform: rotateY(-90deg) translateZ(12px) translateY(-150px);
  -ms-transform: rotateY(-90deg) translateZ(12px) translateY(-150px);
  -o-transform: rotateY(-90deg) translateZ(12px) translateY(-150px);
  transform: rotateY(-90deg) translateZ(12px) translateY(-150px);
}
/* line 330, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-side-back {
  width: 50px;
  height: 50px;
  background: url("../images/plate.png") repeat;
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -25px;
  top: -25px;
  -webkit-transform: rotateX(90deg) translateZ(50.5px);
  -moz-transform: rotateX(90deg) translateZ(50.5px);
  -ms-transform: rotateX(90deg) translateZ(50.5px);
  -o-transform: rotateX(90deg) translateZ(50.5px);
  transform: rotateX(90deg) translateZ(50.5px);
}
/* line 344, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-side-front {
  width: 50px;
  height: 50px;
  background: url("../images/plate.png") repeat;
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -25px;
  top: -25px;
  -webkit-transform: rotateX(90deg) translateZ(-150.5px);
  -moz-transform: rotateX(90deg) translateZ(-150.5px);
  -ms-transform: rotateX(90deg) translateZ(-150.5px);
  -o-transform: rotateX(90deg) translateZ(-150.5px);
  transform: rotateX(90deg) translateZ(-150.5px);
}
/* line 358, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .gun .gun-fire-hole {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
  top: -12px;
  box-shadow: inset 0 0 0 4px #000;
  -webkit-transform: rotateX(90deg) translateZ(150.5px);
  -moz-transform: rotateX(90deg) translateZ(150.5px);
  -ms-transform: rotateX(90deg) translateZ(150.5px);
  -o-transform: rotateX(90deg) translateZ(150.5px);
  transform: rotateX(90deg) translateZ(150.5px);
}
/* line 372, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-eye-1 {
  background: url("../images/lens.png") 90% 40% no-repeat;
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  -webkit-transform: rotateX(-90deg) translateZ(-52px);
  -moz-transform: rotateX(-90deg) translateZ(-52px);
  -ms-transform: rotateX(-90deg) translateZ(-52px);
  -o-transform: rotateX(-90deg) translateZ(-52px);
  transform: rotateX(-90deg) translateZ(-52px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  z-index: 3;
}
/* line 383, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-eye-2 {
  background: url("../images/lens.png") 90% 40% no-repeat;
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  -webkit-transform: rotateX(-90deg) translateZ(-53px);
  -moz-transform: rotateX(-90deg) translateZ(-53px);
  -ms-transform: rotateX(-90deg) translateZ(-53px);
  -o-transform: rotateX(-90deg) translateZ(-53px);
  transform: rotateX(-90deg) translateZ(-53px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  z-index: 4;
}
/* line 394, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-eye-3 {
  background: url("../images/lens.png") 90% 40% no-repeat;
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  -webkit-transform: rotateX(-90deg) translateZ(-54px);
  -moz-transform: rotateX(-90deg) translateZ(-54px);
  -ms-transform: rotateX(-90deg) translateZ(-54px);
  -o-transform: rotateX(-90deg) translateZ(-54px);
  transform: rotateX(-90deg) translateZ(-54px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  z-index: 5;
}
/* line 405, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-eye-4 {
  background: url("../images/lens.png") 90% 40% no-repeat;
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  -webkit-transform: rotateX(-90deg) translateZ(-55px);
  -moz-transform: rotateX(-90deg) translateZ(-55px);
  -ms-transform: rotateX(-90deg) translateZ(-55px);
  -o-transform: rotateX(-90deg) translateZ(-55px);
  transform: rotateX(-90deg) translateZ(-55px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  z-index: 6;
}
/* line 416, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-1 {
  width: 70px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -35px;
  display: block;
  background: url("../images/plate.png") repeat;
  -webkit-transform: translateZ(35px);
  -moz-transform: translateZ(35px);
  -ms-transform: translateZ(35px);
  -o-transform: translateZ(35px);
  transform: translateZ(35px);
}
/* line 427, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-2 {
  width: 70px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -35px;
  display: block;
  background: url("../images/plate.png") repeat;
  -webkit-transform: translateZ(-35px);
  -moz-transform: translateZ(-35px);
  -ms-transform: translateZ(-35px);
  -o-transform: translateZ(-35px);
  transform: translateZ(-35px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
}
/* line 439, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-3 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: -35px;
  background: url("../images/front.png") repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: rotateX(-90deg) translateZ(-50.5px);
  -moz-transform: rotateX(-90deg) translateZ(-50.5px);
  -ms-transform: rotateX(-90deg) translateZ(-50.5px);
  -o-transform: rotateX(-90deg) translateZ(-50.5px);
  transform: rotateX(-90deg) translateZ(-50.5px);
  z-index: 2;
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 455, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-4 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: -35px;
  background: url("../images/plate.png") repeat;
  -webkit-transform: rotateX(90deg) translateZ(-50.5px);
  -moz-transform: rotateX(90deg) translateZ(-50.5px);
  -ms-transform: rotateX(90deg) translateZ(-50.5px);
  -o-transform: rotateX(90deg) translateZ(-50.5px);
  transform: rotateX(90deg) translateZ(-50.5px);
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
}
/* line 472, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-5 {
  background: url("../images/plate.png") repeat;
  -webkit-transform: rotateY(90deg) translateZ(35px);
  -moz-transform: rotateY(90deg) translateZ(35px);
  -ms-transform: rotateY(90deg) translateZ(35px);
  -o-transform: rotateY(90deg) translateZ(35px);
  transform: rotateY(90deg) translateZ(35px);
  width: 70px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -35px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
}
/* line 485, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-6 {
  background: url("../images/plate.png") repeat;
  -webkit-transform: rotateY(-90deg) translateZ(35px);
  -moz-transform: rotateY(-90deg) translateZ(35px);
  -ms-transform: rotateY(-90deg) translateZ(35px);
  -o-transform: rotateY(-90deg) translateZ(35px);
  transform: rotateY(-90deg) translateZ(35px);
  width: 70px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -35px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
}
/* line 499, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(124px) translateZ(-20px) rotateY(45deg);
  -moz-transform: translateY(124px) translateZ(-20px) rotateY(45deg);
  -ms-transform: translateY(124px) translateZ(-20px) rotateY(45deg);
  -o-transform: translateY(124px) translateZ(-20px) rotateY(45deg);
  transform: translateY(124px) translateZ(-20px) rotateY(45deg);
}
/* line 511, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  background: url("../images/plate.png") repeat;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
}
/* line 522, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  background: url("../images/plate.png") repeat;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
}
/* line 534, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-3 {
  background: url("../images/glass.jpg") repeat;
  background: url("../images/force.png") repeat;
  -webkit-transform: rotateX(-90deg) translateZ(25px);
  -moz-transform: rotateX(-90deg) translateZ(25px);
  -ms-transform: rotateX(-90deg) translateZ(25px);
  -o-transform: rotateX(-90deg) translateZ(25px);
  transform: rotateX(-90deg) translateZ(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 4px #494e53;
  -moz-box-shadow: inset 0 0 0 4px #494e53;
  box-shadow: inset 0 0 0 4px #494e53;
}
/* line 548, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-4 {
  background: url("../images/plate.png") repeat;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
}
/* line 561, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-5 {
  background: url("../images/plate.png") repeat;
  -webkit-transform: rotateY(90deg) translateZ(25px);
  -moz-transform: rotateY(90deg) translateZ(25px);
  -ms-transform: rotateY(90deg) translateZ(25px);
  -o-transform: rotateY(90deg) translateZ(25px);
  transform: rotateY(90deg) translateZ(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
}
/* line 574, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-6 {
  background: url("../images/plate.png") repeat;
  -webkit-transform: rotateY(-90deg) translateZ(25px);
  -moz-transform: rotateY(-90deg) translateZ(25px);
  -ms-transform: rotateY(-90deg) translateZ(25px);
  -o-transform: rotateY(-90deg) translateZ(25px);
  transform: rotateY(-90deg) translateZ(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
}
/* line 588, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(-75px) translateY(35px);
  -moz-transform: translateX(-75px) translateY(35px);
  -ms-transform: translateX(-75px) translateY(35px);
  -o-transform: translateX(-75px) translateY(35px);
  transform: translateX(-75px) translateY(35px);
}
/* line 600, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing.left {
  -webkit-transform: translateX(-205.5px) rotateX(-30deg) translateY(20px);
  -moz-transform: translateX(-205.5px) rotateX(-30deg) translateY(20px);
  -ms-transform: translateX(-205.5px) rotateX(-30deg) translateY(20px);
  -o-transform: translateX(-205.5px) rotateX(-30deg) translateY(20px);
  transform: translateX(-205.5px) rotateX(-30deg) translateY(20px);
}
/* line 607, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing.right {
  -webkit-transform: translateX(56px) rotateX(-30deg) translateY(20px);
  -moz-transform: translateX(56px) rotateX(-30deg) translateY(20px);
  -ms-transform: translateX(56px) rotateX(-30deg) translateY(20px);
  -o-transform: translateX(56px) rotateX(-30deg) translateY(20px);
  transform: translateX(56px) rotateX(-30deg) translateY(20px);
}
/* line 615, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .side-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background: url(../images/white.jpg) repeat;
  -webkit-background-size: 84px auto;
  -moz-background-size: 84px auto;
  -o-background-size: 84px auto;
  background-size: 84px auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(75px);
  -moz-transform: translateZ(75px);
  -ms-transform: translateZ(75px);
  -o-transform: translateZ(75px);
  transform: translateZ(75px);
}
/* line 633, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .side-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background-color: #fff;
  background: url(../images/white.jpg) repeat;
  -webkit-background-size: 84px auto;
  -moz-background-size: 84px auto;
  -o-background-size: 84px auto;
  background-size: 84px auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-75px);
  -moz-transform: translateZ(-75px);
  -ms-transform: translateZ(-75px);
  -o-transform: translateZ(-75px);
  transform: translateZ(-75px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
}
/* line 654, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .side-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background: url(../images/white.jpg) repeat;
  -webkit-background-size: 84px auto;
  -moz-background-size: 84px auto;
  -o-background-size: 84px auto;
  background-size: 84px auto;
  -webkit-transform-origin: 50% 100% 0;
  -moz-transform-origin: 50% 100% 0;
  -ms-transform-origin: 50% 100% 0;
  -o-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) translateZ(-75px);
  -moz-transform: rotateY(90deg) translateZ(-75px);
  -ms-transform: rotateY(90deg) translateZ(-75px);
  -o-transform: rotateY(90deg) translateZ(-75px);
  transform: rotateY(90deg) translateZ(-75px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
}
/* line 676, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .side-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background: url(../images/white.jpg) repeat;
  -webkit-background-size: 84px auto;
  -moz-background-size: 84px auto;
  -o-background-size: 84px auto;
  background-size: 84px auto;
  -webkit-transform-origin: 50% 100% 0;
  -moz-transform-origin: 50% 100% 0;
  -ms-transform-origin: 50% 100% 0;
  -o-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) translateZ(75px);
  -moz-transform: rotateY(90deg) translateZ(75px);
  -ms-transform: rotateY(90deg) translateZ(75px);
  -o-transform: rotateY(90deg) translateZ(75px);
  transform: rotateY(90deg) translateZ(75px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
}
/* line 698, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .side-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 1px;
  background-color: #000;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
  -moz-transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
  -ms-transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
  -o-transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
  transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
}
/* line 717, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .side-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 1px;
  background-color: #000;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
  -moz-transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
  -ms-transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
  -o-transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
  transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
}
/* line 736, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .plate-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 106px;
  background: url(../images/round.png) 50% 50% no-repeat;
  -webkit-background-size: 20% 20%;
  -moz-background-size: 20% 20%;
  -o-background-size: 20% 20%;
  background-size: 20% 20%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
  -moz-transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
  -ms-transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
  -o-transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
  transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
}
/* line 753, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .plate-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 106px;
  background: url(../images/round.png) 50% 50% no-repeat;
  -webkit-background-size: 20% 20%;
  -moz-background-size: 20% 20%;
  -o-background-size: 20% 20%;
  background-size: 20% 20%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
  -moz-transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
  -ms-transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
  -o-transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
  transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
}
/* line 770, /Users/silentimp/Games/Models/sass/plane-model.scss */
.plane-model .wing .airscrew {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 106px;
  background: url(../images/vint.png) 50% 50% no-repeat;
  -webkit-background-size: 80% 80%;
  -moz-background-size: 80% 80%;
  -o-background-size: 80% 80%;
  background-size: 80% 80%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(22px);
  -moz-transform: rotateX(90deg) translateX(22px);
  -ms-transform: rotateX(90deg) translateX(22px);
  -o-transform: rotateX(90deg) translateX(22px);
  transform: rotateX(90deg) translateX(22px);
  -webkit-animation: airscrew 0.5s linear infinite;
  -moz-animation: airscrew 0.5s linear infinite;
  -ms-animation: airscrew 0.5s linear infinite;
  animation: airscrew 0.5s linear infinite;
}
