@-webkit-keyframes force {
  /* line 4, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-moz-keyframes force {
  /* line 10, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-ms-keyframes force {
  /* line 16, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@keyframes force {
  /* line 22, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-webkit-keyframes airscrew {
  /* line 28, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 35, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-moz-keyframes airscrew {
  /* line 45, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 52, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-ms-keyframes airscrew {
  /* line 62, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 69, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@keyframes airscrew {
  /* line 79, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 86, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-webkit-keyframes BGposX {
  /* line 97, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  from {
    background-position: 50% 50%, 0 200px;
  }

  /* line 102, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  to {
    background-position: 50% 50%, 0 0;
  }
}

@-webkit-keyframes BGpos {
  /* line 110, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  from {
    background-position: 0 0, 50% 50%, 0 200px;
  }

  /* line 116, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  to {
    background-position: 0 0, 50% 50%, 0 0;
  }
}

@-webkit-keyframes FistBGColorX {
  /* line 126, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 129, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 132, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 135, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-moz-keyframes FistBGColorX {
  /* line 141, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 144, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 147, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 150, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-ms-keyframes FistBGColorX {
  /* line 156, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 159, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 162, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 165, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@keyframes FistBGColorX {
  /* line 171, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 174, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 177, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 180, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-webkit-keyframes FireColor {
  /* line 187, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-moz-keyframes FireColor {
  /* line 193, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-ms-keyframes FireColor {
  /* line 199, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@keyframes FireColor {
  /* line 205, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-webkit-keyframes fire {
  /* line 211, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 215, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 218, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-moz-keyframes fire {
  /* line 225, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 229, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 232, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-ms-keyframes fire {
  /* line 239, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 243, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 246, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@keyframes fire {
  /* line 253, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 257, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 260, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-webkit-keyframes explodeSprite {
  /* line 267, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-moz-keyframes explodeSprite {
  /* line 273, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-ms-keyframes explodeSprite {
  /* line 279, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@keyframes explodeSprite {
  /* line 285, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-webkit-keyframes arotateX {
  /* line 291, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-moz-keyframes arotateX {
  /* line 297, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-ms-keyframes arotateX {
  /* line 303, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@keyframes arotateX {
  /* line 309, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-webkit-keyframes arotateY {
  /* line 315, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes arotateY {
  /* line 321, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes arotateY {
  /* line 327, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes arotateY {
  /* line 333, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes arotateZ {
  /* line 339, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes arotateZ {
  /* line 345, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-ms-keyframes arotateZ {
  /* line 351, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes arotateZ {
  /* line 357, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/* line 31, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(80deg) rotateY(0deg) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  -moz-transform: rotateX(80deg) rotateY(0deg) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  -ms-transform: rotateX(80deg) rotateY(0deg) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  -o-transform: rotateX(80deg) rotateY(0deg) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  transform: rotateX(80deg) rotateY(0deg) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  width: 0px;
  height: 0px;
}
/* line 48, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin-long {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(50px) translateZ(-40px);
  -moz-transform: translateY(50px) translateZ(-40px);
  -ms-transform: translateY(50px) translateZ(-40px);
  -o-transform: translateY(50px) translateZ(-40px);
  transform: translateY(50px) translateZ(-40px);
}
/* line 59, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-1 {
  width: 70px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -35px;
  display: block;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: translateZ(35px);
  -moz-transform: translateZ(35px);
  -ms-transform: translateZ(35px);
  -o-transform: translateZ(35px);
  transform: translateZ(35px);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 69, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-2 {
  width: 70px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -35px;
  display: block;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: translateZ(-35px);
  -moz-transform: translateZ(-35px);
  -ms-transform: translateZ(-35px);
  -o-transform: translateZ(-35px);
  transform: translateZ(-35px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 80, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-3 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: -35px;
  background: url("../images/front.png") repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: rotateX(-90deg) translateZ(-50.5px);
  -moz-transform: rotateX(-90deg) translateZ(-50.5px);
  -ms-transform: rotateX(-90deg) translateZ(-50.5px);
  -o-transform: rotateX(-90deg) translateZ(-50.5px);
  transform: rotateX(-90deg) translateZ(-50.5px);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 95, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-4 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: -35px;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: rotateX(90deg) translateZ(-50.5px);
  -moz-transform: rotateX(90deg) translateZ(-50.5px);
  -ms-transform: rotateX(90deg) translateZ(-50.5px);
  -o-transform: rotateX(90deg) translateZ(-50.5px);
  transform: rotateX(90deg) translateZ(-50.5px);
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 111, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-5 {
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: rotateY(90deg) translateZ(35px);
  -moz-transform: rotateY(90deg) translateZ(35px);
  -ms-transform: rotateY(90deg) translateZ(35px);
  -o-transform: rotateY(90deg) translateZ(35px);
  transform: rotateY(90deg) translateZ(35px);
  width: 70px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -35px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 123, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin-long .cabin-side-6 {
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: rotateY(-90deg) translateZ(35px);
  -moz-transform: rotateY(-90deg) translateZ(35px);
  -ms-transform: rotateY(-90deg) translateZ(35px);
  -o-transform: rotateY(-90deg) translateZ(35px);
  transform: rotateY(-90deg) translateZ(35px);
  width: 70px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -35px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 136, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(124px) translateZ(-20px) rotateY(45deg);
  -moz-transform: translateY(124px) translateZ(-20px) rotateY(45deg);
  -ms-transform: translateY(124px) translateZ(-20px) rotateY(45deg);
  -o-transform: translateY(124px) translateZ(-20px) rotateY(45deg);
  transform: translateY(124px) translateZ(-20px) rotateY(45deg);
}
/* line 148, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 158, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 169, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-3 {
  background: url("../images/glass.jpg") repeat;
  background: url("../images/force.png") repeat;
  -webkit-transform: rotateX(-90deg) translateZ(25px);
  -moz-transform: rotateX(-90deg) translateZ(25px);
  -ms-transform: rotateX(-90deg) translateZ(25px);
  -o-transform: rotateX(-90deg) translateZ(25px);
  transform: rotateX(-90deg) translateZ(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 2px #494e53;
  -moz-box-shadow: inset 0 0 0 2px #494e53;
  box-shadow: inset 0 0 0 2px #494e53;
  opacity: 1;
  -webkit-animation: force 2s infinite alternate;
  -moz-animation: force 2s infinite alternate;
  -ms-animation: force 2s infinite alternate;
  animation: force 2s infinite alternate;
}
/* line 183, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-4 {
  background: url("../images/front.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 195, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-5 {
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-transform: rotateY(90deg) translateZ(25px);
  -moz-transform: rotateY(90deg) translateZ(25px);
  -ms-transform: rotateY(90deg) translateZ(25px);
  -o-transform: rotateY(90deg) translateZ(25px);
  transform: rotateY(90deg) translateZ(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
}
/* line 207, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .cabin .cabin-side-6 {
  background: url("../images/satellite.png") repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  -webkit-animation: FistBGColorX 6s infinite;
  -moz-animation: FistBGColorX 6s infinite;
  -ms-animation: FistBGColorX 6s infinite;
  animation: FistBGColorX 6s infinite;
  -webkit-transform: rotateY(-90deg) translateZ(25px);
  -moz-transform: rotateY(-90deg) translateZ(25px);
  -ms-transform: rotateY(-90deg) translateZ(25px);
  -o-transform: rotateY(-90deg) translateZ(25px);
  transform: rotateY(-90deg) translateZ(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  -moz-box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
  box-shadow: inset 0 0 0 100px rgba(73, 78, 83, 0.3);
}
/* line 220, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(-75px) translateY(35px);
  -moz-transform: translateX(-75px) translateY(35px);
  -ms-transform: translateX(-75px) translateY(35px);
  -o-transform: translateX(-75px) translateY(35px);
  transform: translateX(-75px) translateY(35px);
}
/* line 232, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing.left {
  -webkit-transform: translateX(-186.5px) rotateX(-30deg) translateY(20px);
  -moz-transform: translateX(-186.5px) rotateX(-30deg) translateY(20px);
  -ms-transform: translateX(-186.5px) rotateX(-30deg) translateY(20px);
  -o-transform: translateX(-186.5px) rotateX(-30deg) translateY(20px);
  transform: translateX(-186.5px) rotateX(-30deg) translateY(20px);
}
/* line 239, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing.right {
  -webkit-transform: translateX(36.5px) rotateX(-30deg) translateY(20px);
  -moz-transform: translateX(36.5px) rotateX(-30deg) translateY(20px);
  -ms-transform: translateX(36.5px) rotateX(-30deg) translateY(20px);
  -o-transform: translateX(36.5px) rotateX(-30deg) translateY(20px);
  transform: translateX(36.5px) rotateX(-30deg) translateY(20px);
}
/* line 247, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .side-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background: url(../images/white.jpg) repeat;
  -webkit-background-size: 84px auto;
  -moz-background-size: 84px auto;
  -o-background-size: 84px auto;
  background-size: 84px auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(75px);
  -moz-transform: translateZ(75px);
  -ms-transform: translateZ(75px);
  -o-transform: translateZ(75px);
  transform: translateZ(75px);
}
/* line 265, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .side-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background-color: #fff;
  background: url(../images/white.jpg) repeat;
  -webkit-background-size: 84px auto;
  -moz-background-size: 84px auto;
  -o-background-size: 84px auto;
  background-size: 84px auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-75px);
  -moz-transform: translateZ(-75px);
  -ms-transform: translateZ(-75px);
  -o-transform: translateZ(-75px);
  transform: translateZ(-75px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.5);
}
/* line 286, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .side-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background: url(../images/white.jpg) repeat;
  -webkit-background-size: 84px auto;
  -moz-background-size: 84px auto;
  -o-background-size: 84px auto;
  background-size: 84px auto;
  -webkit-transform-origin: 50% 100% 0;
  -moz-transform-origin: 50% 100% 0;
  -ms-transform-origin: 50% 100% 0;
  -o-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) translateZ(-75px);
  -moz-transform: rotateY(90deg) translateZ(-75px);
  -ms-transform: rotateY(90deg) translateZ(-75px);
  -o-transform: rotateY(90deg) translateZ(-75px);
  transform: rotateY(90deg) translateZ(-75px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
}
/* line 308, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .side-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background: url(../images/white.jpg) repeat;
  -webkit-background-size: 84px auto;
  -moz-background-size: 84px auto;
  -o-background-size: 84px auto;
  background-size: 84px auto;
  -webkit-transform-origin: 50% 100% 0;
  -moz-transform-origin: 50% 100% 0;
  -ms-transform-origin: 50% 100% 0;
  -o-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) translateZ(75px);
  -moz-transform: rotateY(90deg) translateZ(75px);
  -ms-transform: rotateY(90deg) translateZ(75px);
  -o-transform: rotateY(90deg) translateZ(75px);
  transform: rotateY(90deg) translateZ(75px);
  -webkit-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.2);
}
/* line 330, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .side-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 1px;
  background-color: #000;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
  -moz-transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
  -ms-transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
  -o-transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
  transform: rotateX(90deg) translateX(-30px) rotateZ(45deg) translateZ(-55px) translateY(-2px);
}
/* line 349, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .side-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 1px;
  background-color: #000;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
  -moz-transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
  -ms-transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
  -o-transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
  transform: rotateX(90deg) translateX(-30px) rotateZ(-45deg) translateZ(-45px) translateY(-2px);
}
/* line 368, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .plate-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 106px;
  background: url(../images/round.png) 50% 50% no-repeat;
  -webkit-background-size: 20% 20%;
  -moz-background-size: 20% 20%;
  -o-background-size: 20% 20%;
  background-size: 20% 20%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
  -moz-transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
  -ms-transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
  -o-transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
  transform: rotateX(90deg) translateX(22px) translateZ(-6px) translateY(-3px);
}
/* line 385, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .plate-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 106px;
  background: url(../images/round.png) 50% 50% no-repeat;
  -webkit-background-size: 20% 20%;
  -moz-background-size: 20% 20%;
  -o-background-size: 20% 20%;
  background-size: 20% 20%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
  -moz-transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
  -ms-transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
  -o-transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
  transform: rotateX(90deg) translateX(22px) translateZ(10px) translateY(-3px);
}
/* line 402, /Users/silentimp/Games/models/sass/plane-model.scss */
.plane-model .wing .airscrew {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 106px;
  background: url(../images/vint.png) 50% 50% no-repeat;
  -webkit-background-size: 80% 80%;
  -moz-background-size: 80% 80%;
  -o-background-size: 80% 80%;
  background-size: 80% 80%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(22px);
  -moz-transform: rotateX(90deg) translateX(22px);
  -ms-transform: rotateX(90deg) translateX(22px);
  -o-transform: rotateX(90deg) translateX(22px);
  transform: rotateX(90deg) translateX(22px);
  -webkit-animation: airscrew 0.5s linear infinite;
  -moz-animation: airscrew 0.5s linear infinite;
  -ms-animation: airscrew 0.5s linear infinite;
  animation: airscrew 0.5s linear infinite;
}
