@-webkit-keyframes force {
  /* line 4, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-moz-keyframes force {
  /* line 10, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-ms-keyframes force {
  /* line 16, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@keyframes force {
  /* line 22, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    opacity: .75;
  }
}

@-webkit-keyframes airscrew {
  /* line 28, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 35, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-moz-keyframes airscrew {
  /* line 45, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 52, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-ms-keyframes airscrew {
  /* line 62, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 69, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@keyframes airscrew {
  /* line 79, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(0deg);
  }

  /* line 86, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -moz-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -ms-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    -o-transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
    transform: rotateX(90deg) translateX(22px) rotateZ(360deg);
  }
}

@-webkit-keyframes BGposX {
  /* line 97, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  from {
    background-position: 50% 50%, 0 200px;
  }

  /* line 102, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  to {
    background-position: 50% 50%, 0 0;
  }
}

@-webkit-keyframes BGpos {
  /* line 110, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  from {
    background-position: 0 0, 50% 50%, 0 200px;
  }

  /* line 116, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  to {
    background-position: 0 0, 50% 50%, 0 0;
  }
}

@-webkit-keyframes FistBGColorX {
  /* line 126, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 129, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 132, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 135, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-moz-keyframes FistBGColorX {
  /* line 141, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 144, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 147, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 150, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-ms-keyframes FistBGColorX {
  /* line 156, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 159, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 162, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 165, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@keyframes FistBGColorX {
  /* line 171, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 174, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 177, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 180, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-webkit-keyframes FireColor {
  /* line 187, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-moz-keyframes FireColor {
  /* line 193, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-ms-keyframes FireColor {
  /* line 199, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@keyframes FireColor {
  /* line 205, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-webkit-keyframes fire {
  /* line 211, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 215, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 218, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-moz-keyframes fire {
  /* line 225, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 229, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 232, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-ms-keyframes fire {
  /* line 239, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 243, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 246, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@keyframes fire {
  /* line 253, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 257, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 260, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-webkit-keyframes explodeSprite {
  /* line 267, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-moz-keyframes explodeSprite {
  /* line 273, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-ms-keyframes explodeSprite {
  /* line 279, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@keyframes explodeSprite {
  /* line 285, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-webkit-keyframes arotateX {
  /* line 291, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-moz-keyframes arotateX {
  /* line 297, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-ms-keyframes arotateX {
  /* line 303, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@keyframes arotateX {
  /* line 309, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-webkit-keyframes arotateY {
  /* line 315, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes arotateY {
  /* line 321, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes arotateY {
  /* line 327, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes arotateY {
  /* line 333, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes arotateZ {
  /* line 339, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes arotateZ {
  /* line 345, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-ms-keyframes arotateZ {
  /* line 351, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes arotateZ {
  /* line 357, /Users/silentimp/Games/Models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
