@-webkit-keyframes BGposX {
  /* line 4, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  from {
    background-position: 50% 50%, 0 200px;
  }

  /* line 9, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  to {
    background-position: 50% 50%, 0 0;
  }
}

@-webkit-keyframes BGpos {
  /* line 17, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  from {
    background-position: 0 0, 50% 50%, 0 200px;
  }

  /* line 23, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  to {
    background-position: 0 0, 50% 50%, 0 0;
  }
}

@-webkit-keyframes FistBGColorX {
  /* line 33, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 36, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 39, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 42, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-moz-keyframes FistBGColorX {
  /* line 48, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 51, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 54, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 57, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-ms-keyframes FistBGColorX {
  /* line 63, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 66, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 69, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 72, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@keyframes FistBGColorX {
  /* line 78, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    background-color: #3ff;
  }

  /* line 81, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  33% {
    background-color: #00ff24;
  }

  /* line 84, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  66% {
    background-color: #0ff;
  }

  /* line 87, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #3ff;
  }
}

@-webkit-keyframes FireColor {
  /* line 94, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-moz-keyframes FireColor {
  /* line 100, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-ms-keyframes FireColor {
  /* line 106, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@keyframes FireColor {
  /* line 112, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-color: #f00;
  }
}

@-webkit-keyframes fire {
  /* line 118, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 122, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 125, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-moz-keyframes fire {
  /* line 132, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 136, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 139, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-ms-keyframes fire {
  /* line 146, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 150, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 153, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@keyframes fire {
  /* line 160, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  0% {
    -webkit-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -moz-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -ms-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    -o-transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    transform: scale(0.8) rotateZ(0deg) translateZ(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 164, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }

  /* line 167, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -moz-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -ms-transform: scale(2) rotateZ(180deg) translateZ(45px);
    -o-transform: scale(2) rotateZ(180deg) translateZ(45px);
    transform: scale(2) rotateZ(180deg) translateZ(45px);
  }
}

@-webkit-keyframes explodeSprite {
  /* line 174, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-moz-keyframes explodeSprite {
  /* line 180, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-ms-keyframes explodeSprite {
  /* line 186, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@keyframes explodeSprite {
  /* line 192, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    background-position: -384px 0;
  }
}

@-webkit-keyframes arotateX {
  /* line 198, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-moz-keyframes arotateX {
  /* line 204, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-ms-keyframes arotateX {
  /* line 210, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@keyframes arotateX {
  /* line 216, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-webkit-keyframes arotateY {
  /* line 222, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes arotateY {
  /* line 228, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes arotateY {
  /* line 234, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes arotateY {
  /* line 240, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes arotateZ {
  /* line 246, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes arotateZ {
  /* line 252, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-ms-keyframes arotateZ {
  /* line 258, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes arotateZ {
  /* line 264, /Users/silentimp/Games/models/sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
